{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<h1>Page User</h1>
<p>UserName : {{ user.username }}</p>
<p>PEmail : {{ user.email }}</p>
{% endblock %}